---
Checks: "clang-diagnostic-*,clang-analyzer-*,bugprone-*,performance-*,portability-*,readability-*,darwin-*,llvm-header-guard,-bugprone-easily-swappable-parameters,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling"
WarningsAsErrors: "*"
HeaderFilterRegex: "include/tlb"
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: "0"
  - key: readability-identifier-length.IgnoredVariableNames
    value: "_"
  - key: readability-identifier-length.IgnoredParameterNames
    value: "fd"
---

