---
Checks:          'clang-diagnostic-*,clang-analyzer-*,bugprone-*,performance-*,portability-*,readability-*,darwin-*,llvm-header-guard'
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/tlb'
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '0'
...

